@{
    ViewData["Title"] = "AZ PowerShell Manual";
}


<div id="DivBody" class="Body" >

<iframe id="MainFrame" style="border:none;height:800px;width:100%" src="~/azpwshmanual.html">
</iframe>

</div>